@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #20409a;
    --color-primary-dark: #10204d;
    --color-pimary-base-text: #fff;
  }
}

@layer components {
  .radio-label {
    @apply text-sm font-semibold text-gray-400;
  }

  .my-workout-card-header {
    @apply bg-gradient-to-r from-[#5a68fd] to-[#5feeff];
  }
}

.logo-animated {
  animation: elastic-spin 1.5s infinite ease-out;
}

@keyframes elastic-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(720deg) scale(2.5);
  }
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

.body-map__muscle {
  color: #ebebeb;
}

.body-map__muscle:hover {
  cursor: pointer;
  color: red;
}

.body-map__model {
  color: #000;
}
